
div {
    background-color: rgba(194, 199, 209, 0.142);
    margin-left:15%;
    margin-right: 15%;
   }
   .appbar{
       margin-left:10%;
   }
   .title{
       
       margin-left:2%;
   }
   
   
   hr {
       margin: 5px 60px;
   }
   
   .info{
       margin-left:15%;
   }
   
   .info li{
       display: inline;
       padding-right: 2%;
   }
   
   .info-2 li {
       /* margin-left: 15%; */
       /* display: inline-block; */
       list-style-type: circle;
   }
   
   
   .material-symbols-outlined {
     font-variation-settings:
     'FILL' 0,
     'wght' 40,
     'GRAD' 0,
     'opsz' 4
   }